@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background: #fff;
}
body {
  color: black;
  background: #fff;
}
@media (prefers-color-scheme: dark) {
  :root {
    color: 255, 255, 255;
    background: #101213;
  }
} */

:root {
  --dark: #101213;
  --light: #f7f7f7;
  --background: var(--light);
  --color: var(--dark);
}

/* .
 {
  background-color: #f8fafc;
} */

.dark .bg-default {
  background-color: #101213;
}
.bg-default {
  background-color: #fff;
}
.dark .bg-hovered {
  background-color: #1e1f25;
}

.bg-surface-default {
  background-color: #fff;
}

.dark .bg-surface-default {
  background-color: #1e1f25;
}

.bg-surface-subdued {
  background-color: #ecedef;
}
.dark .text-subdued {
  color: #a8abbe;
}
.text-subdued {
  color: #6a6d7c;
}
